<% extend("../layout/mainlayout.ejs") %>
  <style>
    .bs-example {
      margin: 20px;
    }
  </style>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>HỆ TRỢ GIÚP TÌM VIỆC LÀM</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Thông tin cá nhân</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-danger edituserclass">
          <div class="card-header ">
            <h3 class="card-title ">THÔNG TIN</h3>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="/search">
              <div class="row mt-3">
                <div class="col">
                  <div class="form-group">
                    <select class="custom-select form-control-border" id="a" name="diachi">
                      <option>Hà Nội</option>
                      <option>Hải Phòng</option>
                      <option>Đà N</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <select class="custom-select form-control-border" id="exampleSelectBorder" name="bangCap">
                      <option>Bằng Đại Học</option>
                      <option>Bằng Cao Đẳng</option>
                      <option>Bằng Cấp 3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nhập số năm kinh nghiệm" name="khinhNghiem">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nhập mức lương mong muốn" name="luong">
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-3">TÌM VIỆC</button>
            </form>
          </div>
        </div>
      </div>
    </section>